<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup</title>
  </head>
  <body>
    <h1>Signup</h1>

    <form method="POST" action="/register">
      <p>
        <label for="name">Name :</label>
        <input
          type="text"
          name="name"
          id="name"
          placeholder="Enter your name"
        />
      </p>
      <p>
        <label for="username">Username :</label>
        <input
          type="text"
          name="username"
          id="username"
          placeholder="Enter your username"
        />
      </p>
      <p>
        <label for="name">Email :</label>
        <input
          type="text"
          name="email"
          id="email"
          placeholder="Enter your email"
        />
      </p>
      <p>
        <label for="password">Password :</label>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Enter your password"
        />
      </p>
      <br />
      <button type="submit">Register</button>
    </form>
  </body>
</html>
